#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 20px 0px;
  font-size: 19px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid grey;
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: #aaba78;
}

#login-form input[type="submit"] {
  background-color: #9fad72;
  cursor: pointer;
  margin: 35px 0px -15px 0px;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin-top: 35px;
}

.welcome-header__img {
  padding: 37px 0px;
  height: 30vh;
  width: 93vw;
  margin-top: 20px;
  margin-bottom: -90px;
}
.welcome-header__title {
  color: #737c53;
}
